.nos-fonds-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}
.fond__card__container {
  width: 18vw;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  border: solid 2px #051c24;
  margin-right: 10vw;
}
.card__subcontainer {
  width: 14vw;
  background-color: #051c24;
  height: 180px;
  border-radius: 9px;
  margin-bottom: 6%;
  font-size: 14px;
  padding: 5px;
  align-items: center;
  display: flex;
  color: white;
}
.image-nosFond-second {
  display: flex;
  justify-content: center;
}
.fond__card__container h4 {
  color: #051c24;
}
.Fonds__img {
  width: 20vw;
  height: 40vh;
}
